<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>View Recipe</title>
</head>
<body>
    <div class="centered">
        <h1>Welcome {{ logged_in_user.first_name }}</h1>

        <h2>Recipe {{ recipe.recipe_name }}</h2>
        <h4>Posted by {{ recipe.first_name }}</h4>
        <div class="recipe box">
            <p>Description: {{ recipe.recipe_description }}</p>
            <p>Under 30 Minutes? {% if recipe.under_30_minutes == 1 %}</p>
                <p>Yes </p>
                {% else %}
                <p> No </p>
                {% endif %}
            <p>Instructions: {{ recipe.recipe_instructions }}</p>
            <p>Date Made: {{ recipe.date_recipe_made }}</p>
        </div>
        <div class="home">
            <a href="/recipes">back to recipes</a>  |  <a href="/logout">logout</a>
        </div>
    </div>
</body>
</html>


